[submodule "extensions/export_ensemble"]
	path = extensions/export_ensemble
	url = git://github.com/symphonycms/export_ensemble.git
  ignore = dirty
[submodule "extensions/markdown"]
	path = extensions/markdown
	url = git://github.com/symphonycms/markdown.git
  ignore = dirty
[submodule "extensions/maintenance_mode"]
	path = extensions/maintenance_mode
	url = git://github.com/symphonycms/maintenance_mode.git
  ignore = dirty
[submodule "extensions/profiledevkit"]
	path = extensions/profiledevkit
	url = git://github.com/symphonycms/profiledevkit.git
  ignore = dirty
[submodule "extensions/debugdevkit"]
	path = extensions/debugdevkit
	url = git://github.com/symphonycms/debugdevkit.git
  ignore = dirty
[submodule "extensions/xssfilter"]
	path = extensions/xssfilter
	url = git://github.com/symphonycms/xssfilter.git
  ignore = dirty
[submodule "extensions/jit_image_manipulation"]
	path = extensions/jit_image_manipulation
	url = git://github.com/symphonycms/jit_image_manipulation.git
[submodule "extensions/selectbox_link_field"]
	path = extensions/selectbox_link_field
	url = git://github.com/symphonycms/selectbox_link_field.git
